@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Unbounded:wght@700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat", system-ui, sans-serif;
  }

	h1, h2, h3, h4, h5, h6 {
		font-family: "Unbounded", sans-serif;
	}

	a, p, span {}

	body {
		margin: 0;
		padding: 0;
		font-size: 16px;
    color: #000;
		background-color: hsla(39, 83%, 95%, 1);
	}
	* {
		position: relative;
	}
	ul, li {
		list-style: none;
	}
	.gold-title {
		background: linear-gradient(180deg, #FCD07D 0%, #5B391E 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}
}