@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&family=Unbounded:wght@700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	section {
		overflow: hidden;
		padding-bottom: 120px;
		@media (min-width:1240px) {
			padding-bottom: 160px;
		}
	}

	html {
		font-family: "Montserrat", system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Unbounded", sans-serif;
	}

	.dots-text {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top;
	}

	a,
	p,
	span {}

	body {
		margin: 0;
		padding: 0;
		font-size: 16px;
		color: #000;
		background-color: hsla(39, 83%, 95%, 1);
	}

	* {
		position: relative;
	}

	ul,
	li {
		list-style: none;
	}

	.title {
		font-weight: 700;
		font-size: 40px;
		line-height: 120%;
		text-transform: uppercase;
		@media (min-width:1024px) {
			font-size: 64px;
			line-height: 80px;
		}
	}

	.richTextArticle {
		margin-bottom: 28px;
	}

	.richTextArticle p {
		margin-bottom: 16px;
	}

	.richTextArticle p img {
		margin-bottom: 16px;
		border-radius: 16px;
		height: 290px;
		overflow: hidden;
	}

	.gold-title {
		background: linear-gradient(180deg, #FCD07D 0%, #5B391E 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}

	svg path {
		transition: .3s;
	}
	.twit:hover svg path {
		fill: #4AA1EB;
	}

	.mass:hover svg path {
		fill: #5BC541;
	}
	.link:hover svg path {
		fill: #0A66C2;
	}
	.telegram:hover svg path {
		fill: #229ED9;
	}
}